WORDPRESS_PORT=8080
MYSQL_PORT=3306
ADMINER_PORT=9090

#uwaga db dbhost to nazwa serwisu
#uwaga 2 - w adminerze serwer to również ta nazwa obowiązuje
DB_HOST=db
DB_USER=db
DB_PASSWORD=db
DB_NAME=db

#FastAPI
ITERACJA_DODANIA_PACZKI=60
HTTPS_HTTP=http
UVICORN_HOST=127.0.0.1
UVICORN_PORT=8001
RELOAD=True
DEBUG=True
WORKERS=3

USREDNIANIE=5
